# HDF5 file handling with pandas

Requires the following conda packages
* pandas: `conda install pandas`
* pytables for HDF5 support: `conda install -c anaconda pytables`

In [1]:
import pandas as pd

Import an existing HDF5 data file into a pandas DataFrame.

In [9]:
orbit_dataframe = pd.read_hdf('./data/S3M_LSST_test_orbits.h5')

In [10]:
orbit_dataframe

,ObjID,FORMAT,q,e,i,node,w,t_p,H,t_0,INDEX,N_PAR,MOID,COMPCODE
0,S000005sa,COM,1.202289,0.570050,9.101402,209.586647,285.413851,53683.444096,16.684,54466.0,1,6,-1,MOPS
1,S00000oUa,COM,1.156656,0.599565,10.305200,202.677524,6.661478,54217.970915,18.566,54466.0,1,6,-1,MOPS
2,S00000RVa,COM,1.111611,0.415830,48.094632,341.291400,125.072456,54299.687493,19.524,54466.0,1,6,-1,MOPS
3,S000026Ea,COM,0.989198,0.552607,5.499517,221.830955,76.231549,55000.051318,20.622,54466.0,1,6,-1,MOPS
4,S00005m7a,COM,0.215723,0.916091,34.251849,344.530253,222.387491,53750.875544,21.779,54466.0,1,6,-1,MOPS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,S101qiIDa,COM,1.573490,0.394470,4.550580,239.871710,102.677470,52184.804300,21.270,54800.0,1,6,-1,Python
1871,S101qrRVa,COM,1.838690,0.223140,25.952560,336.968530,357.810450,54517.311370,20.300,54800.0,1,6,-1,Python
1872,S101queSa,COM,2.142540,0.104420,5.125140,250.459370,94.424250,54465.056110,20.610,54800.0,1,6,-1,Python
1873,S101s4nsa,COM,1.816000,0.186240,7.951130,218.426830,144.031520,52591.765160,20.540,54800.0,1,6,-1,Python
1874,S101uDH4a,COM,1.941300,0.300030,7.356310,215.290150,153.304430,51485.960960,20.410,54800.0,1,6,-1,Python

For demonstration purposes select a subset and create a new HDF5 file.

In [11]:
selection_dataframe=orbit_dataframe[(orbit_dataframe['q']>0.98) & (orbit_dataframe['q']<=1.2)]

In [12]:
selection_dataframe

,ObjID,FORMAT,q,e,i,node,w,t_p,H,t_0,INDEX,N_PAR,MOID,COMPCODE
1,S00000oUa,COM,1.156656,0.599565,10.305200,202.677524,6.661478,54217.970915,18.566,54466.0,1,6,-1,MOPS
2,S00000RVa,COM,1.111611,0.415830,48.094632,341.291400,125.072456,54299.687493,19.524,54466.0,1,6,-1,MOPS
3,S000026Ea,COM,0.989198,0.552607,5.499517,221.830955,76.231549,55000.051318,20.622,54466.0,1,6,-1,MOPS

Export the new database to an HDF5 file named "orbit_selection.h5".

In [13]:
selection_dataframe.to_hdf('orbit_selection.h5',key='df')

Read in the newly generated HDF5 file to check that everything went smoothly.

In [14]:
new_orbit_dataframe = pd.read_hdf('orbit_selection.h5')

In [15]:
new_orbit_dataframe

,ObjID,FORMAT,q,e,i,node,w,t_p,H,t_0,INDEX,N_PAR,MOID,COMPCODE
1,S00000oUa,COM,1.156656,0.599565,10.305200,202.677524,6.661478,54217.970915,18.566,54466.0,1,6,-1,MOPS
2,S00000RVa,COM,1.111611,0.415830,48.094632,341.291400,125.072456,54299.687493,19.524,54466.0,1,6,-1,MOPS
3,S000026Ea,COM,0.989198,0.552607,5.499517,221.830955,76.231549,55000.051318,20.622,54466.0,1,6,-1,MOPS